.header {
    display: flex;
    align-items: center;
    padding-bottom: 52px;
}

.logo-img {
    width: 231px;
    height: 56px;
}

.header-search {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: 3px solid #17CE5F;
    width: 586px;
    height: 56px;
}

.header-serch_input {
    border: 0px solid;
    width: 464px;
}

.header i {
    opacity: 0.6;
}

.search-img {
    width: 56px;
    height: 56px;
}