.menubar {
    display: flex;
    height: 52;
    justify-content: space-around;
    border-top: 1px solid #D2D7DC;
    border-bottom: 1px solid #D2D7DC;
    margin-bottom: 20px;
}

.menubar-menu {
    width: 71.5%;
}

.menubar-menu ul {
    display: flex;
    justify-content: space-around;
    list-style-type: none;
}

.menubar-color {
    color: #17CE5F;
    font-weight: bold;
}

.menubar-bw {
    color: black;
    font-weight: bold;
}

.menubar-more {
    width: 28.5%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-size: 14px;
    opacity: 0.6;
}
