.menubar {
    display: flex;
    height: 52;
    justify-content: space-around;
    border-top: 1px solid #D2D7DC;
    border-bottom: 1px solid #D2D7DC;
}

.menubar-menu {
    width: 70%;
}

.menubar-menu ul {
    display: flex;
    justify-content: space-around;
    list-style-type: none;
}

.menubar-menu a {
    text-decoration: none;
}

.menubar-color {
    color: #17CE5F;
    font-weight: bold;
}

.menubar-bw {
    color: black;
    font-weight: bold;
}

.menubar-more {
    width: 30%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    opacity: 0.6;
}