@import "top.css";
@import "header.css";
@import "menubar.css";
@import "Box.css";

* {
    box-sizing: border-box;
}

body {
    width: 1130px;
    margin: 0px 130px;
}

a {
    text-decoration: none;
}
