.findmenu_menu i {
    font-size: 40px;
    margin: 20px;
}

.findmenu_menu {
    text-align: center;
    margin-bottom: 15px;
}

.findmenu {
    display: flex;
    justify-content: space-between;
}



