img {
    border-radius: 50%;
    width: 75px;
    height: 75px;
}

.profile_pic i {
    font-size: 75px;
    opacity: 0.3;
}

.profile_pic {
    margin: 20px 10px;
    border-radius: 100px;
}

.main {
    align-items: center;
    margin: 10px;
    font-size: 15px;
    font-weight: bolder;
}

.profile {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid #f5f5f5;
}
.profile_col{ 
    display: flex;
    align-items: center;
}

.profile_add i {
    font-size: 25px;
    padding-right: 20px;
}

.profile_name {
    margin: 5px;
    font-size: 17px;
    font-weight: lighter;
}

.profile_message {
    margin: 5px;
    font-size: 13px;
    font-weight: lighter;
}

.blank {
    width: 60%;
}

.profile_time {
    float: right;
    font-size: 14px;
    font-weight: lighter;
}

.profile_etc {
    padding: 5px 8px;
    border: 2px solid #5DC952;
    border-radius: 30px;
    font-size: 14px;
    font-weight: lighter;
}

.profile_etc i {
    font-size: 10px;
}

.profile_add {
    font-size: 17px;
    text-align: right;
}