@import "status-bar.css";
@import "header.css";
@import "nav-bar.css";
@import "profile.css";
@import "findmenu.css";


* {
    box-sizing: border-box;
}

.body {
    background-color: white;
    padding: 10px 10px;
}